::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
    height: 12px; /* Height of the scrollbar (horizontal) */
}

::-webkit-scrollbar-track {
    background: #301A11;
}

::-webkit-scrollbar-thumb {
    background: #D5CEA3;
}

::-webkit-scrollbar-thumb:hover {
    background: #1A120B;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #D5CEA3;
}

a {
    text-decoration: none;
    color: #D5CEA3;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgba(213, 206, 163, 0.8), rgba(213, 206, 163, 0.8)), url(../image/banner2.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    z-index: 2;
    padding: 5px;
}

.upper-logo {   
    width: 90px;
    cursor: pointer;
}

.upper-logo img {
    width: 100%;
}

.school-name {
    letter-spacing: 5px;
    font-size: 1.6rem;
    font-weight: 700;
    color: black;
    text-align: center;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: sticky;
    top: 0;
    z-index: 3;
}

.menu-icon {
    display: none;
    cursor: pointer;
    align-self: flex-start;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 9px 2rem;
}

.menu-icon div {
    width: 30px;
    height: 2px;
    background-color: #D5CEA3;
    margin: 6px 0;
    transition: 0.4s;
}

.links {
    display: flex;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.links a {
    color: #D5CEA3;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    padding: 12px 2rem;
    text-decoration: none;

}

.links a.active {
    background-color: #D5CEA3;
    color: #301A11;
}

.links a:hover {
    color: goldenrod;
}

/* Responsive layout: hide links and show menu icon on small screens */
@media (max-width: 900px) {
    .links {
        display: none;
        flex-direction: column;
        width: 30%;
        height: 100vh;
        backdrop-filter: blur(3px);
    }
    .links a {
        padding: 10px 2rem;
        text-align: left;
        font-size: 16px;
    }
    .menu-icon {
        display: block;
    }
    .navbar.open .links {
        display: flex;
        position: absolute;
        top: 48px;
        z-index: 3;
    }
    .arrow {
        display: none;
    }
}

@media (max-width: 768px) {
    .links {
        width: 40%;
    }
}

@media (max-width: 500px) {
     .links {
        width: 100%;
    }
}

/* Animation for the menu icon */
.menu-icon.open .bar1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.menu-icon.open .bar2 {
    opacity: 0;
}

.menu-icon.open .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
}

.about-header {
    position: relative;
    margin-top: 2%;
    display: flex;
    gap: .5rem;
}

.about-header .box {
    width: 2%;
    background-color: #301A11;
}

.arrow {
    position: absolute;
    top: 0;
    left: .5%;
    z-index: 1;
}

@media (max-width: 2000px) and (min-width: 1300px){
    .about-header {
        gap: 1.5rem;
    }
}

@media (max-width: 1300px) and (min-width: 900px) {
    .about-header {
        gap: 2rem;
    }
}

.arrow i {
    font-size: 3rem;
    margin: 0;
}

.about-header .about {
    margin-left: 10px;
    font-size: 2.5rem;
    font-weight: 500;
    color: #301A11;
}

.mission-vision {
    margin: auto 2% 10px;
    background-color: #301A11;
    padding: 20px;
}

.mission-vision .content {
    width: 60%;
    margin: auto;
}

.mission-vision h1,
.mission-vision p,
.faculty-members h1,
.staff-members h1 {
    margin-top: 0;
    color: #D5CEA3;
    text-align: center;
}

.mission-vision p {
    font-size: 18px;
}

.faculty-members p,
.staff-members p {
    margin-bottom: 0;
    margin-top: 0;
    color: #D5CEA3;
    font-size: 16px;
}

.faculty-members h2,
.staff-members h2 {
    margin-top: 0;
    color: #D5CEA3;
    font-size: 1.2rem;
}

.faculty-members {
    margin: auto 2%;
    background-color: #301A11;
    padding: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    width: 90%;
    margin: auto;
} 

.gallery .photo img {
    width: 100%;
    border-radius: 6px 6px 0px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.staff-members {
    margin: 10px 2% auto;
    background-color: #301A11;
    padding: 20px;
}

.contact-container {
    background-color: #D5CEA3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 30px 30px 5px;
}

.contact {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}

.ad-container,
.reg-container,
.connect-container {
    min-width: 285px;
    flex: 1;
}

.registration-office,
.admission-office,
.stay-connected {
    width: 220px;
    margin: auto;
}

.contact h2 {   
    color: #301A11;
    font-size: 1.5rem;
    margin-top: 0;
}

.contact a {
    color: #301A11;
    font-size: 1.2rem;
    transition: all .3s ease ease-in-out;
}

.contact i {
    color: #301A11;
    cursor: pointer;
    transition: all .3s ease ease-in-out;
}

.contact i:hover {
    color: black;
    scale: 1.05;
}


.logo-container {
    align-self: flex-end;
    min-width: 285px;
}

.logo {
    width: 130px;
    cursor: pointer;
    margin: auto;
}

.logo img {
    width: 100%;
}

.info {
    display: flex;
    align-items: center;
    gap: 25px;
}

.info a {
    font-size: 20px;
}

.info a:hover {
    text-decoration: underline;
}

.stay-connected .icons {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    font-size: 2rem;
}

.copyright {
    font-size: 16px;
    font-weight: 600;
}

@media (max-width: 900px) {
    .about-header.about {
        font-size: 2rem;
    }
    .mission-vision h1,
    .faculty-members h1,
    .staff-members h1 {
        font-size: 22px;
    }
    .mission-vision .content {
        width: 100%;
    }
    .mission-vision .content p {
        font-size: 16px;
    }
    .gallery .photo p {
        font-size: 12px;
    }
    .gallery .photo h2 {
        font-size: 16px;
    }
    .ad-container,
    .reg-container,
    .connect-container {
        width: 200px;
        flex: 0;
    }
    .registration-office,
    .admission-office,
    .stay-connected {
        width: 190px;
        margin-right: 14%;
    }
    .contact h2 {
        font-size: 1.3rem;
        margin-bottom: 10px;
    }
    .logo {
        width: 110px;
    }
    .info {
        gap: 12px;
    }
    .info a {
        font-size: 16px;
    }
    .info i {
        font-size: 18px;
    }
    .stay-connected .icons {
        font-size: 1.5rem;
    }
    .copyright {
        font-size: 14px;
    }
}

@media (max-width: 500px) {
    .welcome-content .content,
    .welcome-content .image {
        min-width: 300px;
    }
}


@media (max-width: 948px) and (min-width: 900px) {
    .stay-connected {
        width: 220px;
        margin-left: 10%;
    }
    .admission-office {
        width: 220px;
        margin-left: 15%;
    }
}

@media (max-width: 1246px) and (min-width: 947px) {
    .logo-container,
    .ad-container,
    .reg-container,
    .connect-container {
        min-width: 150px;
        flex: 1;
    }
    .contact-container {
        width: 100%;
    }
}

@media (max-width: 948px) and (min-width: 900px) {
    .reg-container {
        width: 430px;
    }
}
