::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
    height: 12px; /* Height of the scrollbar (horizontal) */
}

::-webkit-scrollbar-track {
    background: #301A11;
}

::-webkit-scrollbar-thumb {
    background: #D5CEA3;
}

::-webkit-scrollbar-thumb:hover {
    background: #1A120B;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #D5CEA3;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #D5CEA3;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgba(213, 206, 163, 0.8), rgba(213, 206, 163, 0.8)), url(../image/banner2.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    z-index: 2;
    padding: 5px;
}

.upper-logo {   
    width: 90px;
    cursor: pointer;
}

.upper-logo img {
    width: 100%;
}

.school-name {
    letter-spacing: 5px;
    font-size: 1.6rem;
    font-weight: 700;
    color: black;
    text-align: center;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: sticky;
    top: 0;
    z-index: 3;
}

.menu-icon {
    display: none;
    cursor: pointer;
    align-self: flex-start;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 12px 1rem;
}

.menu-icon div {
    width: 30px;
    height: 4px;
    background-color: #D5CEA3;
    margin: 6px 0;
    transition: 0.4s;
}

.links {
    display: flex;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.links a {
    color: #D5CEA3;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    padding: 12px 2rem;
    text-decoration: none;

}

.links a.active {
    background-color: #D5CEA3;
    color: #301A11;
}

.links a:hover {
    color: goldenrod;
}

/* Responsive layout: hide links and show menu icon on small screens */
@media (max-width: 900px) {
    .links {
        display: none;
        flex-direction: column;
        width: 30%;
        height: 100vh;
    }
    .links a {
        padding: 10px 1rem;
        text-align: left;
    }
    .menu-icon {
        display: block;
    }
    .navbar.open .links {
        display: flex;
        position: absolute;
        top: 60px;
        z-index: 3;
    }
    .long-arrow {
        display: none;
    }
}

/* Animation for the menu icon */
.menu-icon.open .bar1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.menu-icon.open .bar2 {
    opacity: 0;
}

.menu-icon.open .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
}

.event-header {
    margin-top: 2%;
    display: flex;
    gap: 1rem;
}

.box {
    position: relative;
    width: 2%;
    background-color: #301A11;
}

.long-arrow {
    position: fixed;
    top: 23.5%;
    left: .5%;
    z-index: 1;
}

@media (max-width: 1600px) and (min-width: 1300px){
    .long-arrow {
        top: 23%;
    }
    .event-header {
        gap: 1.5rem;
    }
}

@media (max-width: 1300px) and (min-width: 900px) {
    .long-arrow {
        top: 22%;
    }
    .event-header {
        gap: 2rem;
    }
}

.long-arrow i {
    font-size: 3rem;
    margin: 0;
}

.event {
    position: relative;
    font-size: 2.5rem;
    font-weight: 500;
    color: #301A11;
}

.event-section {
    margin: auto 2%;
    padding: 10px;
    background-color: #301A11;
}

.accordion {
    background-color: #301A11;
}

.accordion-item {
    border-bottom: 1px solid #ddd;
}
  
.accordion-item:last-child {
    border-bottom: none;
}

.accordion-header {
    background-color: #301A11;
    color: #D5CEA3;
    padding: 10px;
    border: none;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    outline: none;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-header:hover {
    background-color: #3C2A21;
}

.event-date p,
.event-date h2 {
    margin: 0 auto 5px;
}

.event-date p {
    font-size: .9rem;
}

.event-date h2 {
    font-size: 1.3rem;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    background-color: #D5CEA3;
    padding: 0px 15px;
}

.gallery {
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.photo {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    min-width: 250px;
    height: 125px;
    flex: 1;
    transition: all .3s ease-in-out;
}

.photo img {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    cursor: pointer;
    object-fit: cover;
    object-position: center center;
}

.photo:hover {
    opacity: 0.8;
    scale: 1.05;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 15px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    display: block;
    max-width: 800px;
    width: 80%;
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-content img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Close Button */
.close {
    color: #D5CEA3;
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.close:hover {
    transform: scale(1.2);
}

.accordion-content.active {
    max-height: 1000px; /* Adjust based on content */
    padding: 15px;
}

.accordion-header.active {
    border-radius: 8px 8px 0 0;
}

.arrow {
    border: solid #D5CEA3;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
}

.accordion-header.active .arrow {
    transform: rotate(-135deg);
}

.contact-container {
    background-color: #D5CEA3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 30px 30px 5px;
    
}

.contact {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}

.ad-container,
.reg-container,
.connect-container {
    min-width: 285px;
    flex: 1;
}

.registration-office,
.admission-office,
.stay-connected {
    width: 220px;
    margin: auto;
}

.contact h2 {   
    color: #301A11;
    font-size: 1.5rem;
    margin-top: 0;
}

.contact a {
    color: #301A11;
    font-size: 1.2rem;
    transition: all .3s ease ease-in-out;
}

.contact i {
    color: #301A11;
    cursor: pointer;
    transition: all .3s ease ease-in-out;
}

.contact i:hover {
    color: black;
    scale: 1.05;
}


.logo-container {
    align-self: flex-end;
    min-width: 285px;
}

.logo {
    width: 130px;
    cursor: pointer;
    margin: auto;
}

.logo img {
    width: 100%;
}

.info {
    display: flex;
    align-items: center;
    gap: 25px;
}

.info a {
    font-size: 20px;
}

.info a:hover {
    text-decoration: underline;
}

.stay-connected .icons {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    font-size: 2rem;
}

.copyright {
    font-size: 16px;
    font-weight: 600;
}